<?xml version="1.0"?>
<configuration>
  <!-- To retrieve: ConfigurationManager.AppSettings["DBconnstr"]) etc. -->
  <appSettings>
    <!-- *************************** -->
    <add key="DBconnstr" value="Dsn=CCR_RAF_PROD_137_32BIT;UID=_dfsklar;PWD=dfsklar;Mars_Connection=yes"/>
    <!-- PROD -->
    <add key="DBconnstr_CLOUDLIVE" value="Dsn=CCR_RAF_cloudlive_old2005driver;UID=dfsklar_CCR;PWD=ccezer0"/>
    <add key="DBconnstr_DINGSHELL" value="Dsn=CCR_RAF_dingshell;UID=guest;PWD=guest"/>
    <add key="DBconnstr_PLANETSMB" value="Dsn=CCE RAF Live;UID=dfsklarcce_raf_sv8_14MAR2010;PWD=ccezer0"/>
    <add key="DBconnstr_LOCAL2" value="Dsn=dingshell_driverSQLServer;UID=abc;PWD=abc"/>
    <!-- LOCAL 2 -->
    <!-- password might also be blood dizeez or ccezer0 -->
    <!-- *************************** -->
    <add key="BOOLautoLoginDevel" value="1"/>
    <!-- <add key="IPADDRopenOnlyTo" value="127.0.0.1"/> -->
    <!-- 24.30.118.245 -->
    <add key="IDsubprocessVisibleToALL" value="6"/>
    <add key="IDsubprocessTrashcan" value="11"/>
  </appSettings>
  <connectionStrings>
    <!-- CCE RAF Live using a 3rd party (Planet Small Business?) SQL server -->
    <add name="afwac_sv6ConnectionString___PLANETSMALLBUS" connectionString="Data Source=208.81.130.2;Initial Catalog=dfsklarcce_raf_sv8_14MAR2010;Persist Security Info=True;User ID=dfsklarcce_raf_sv8_14MAR2010;Password=ccezer0" providerName="System.Data.SqlClient"/>
    <add name="afwac_sv6ConnectionString___CCR_REMOTE" connectionString="Data Source=ccetools.com;Initial Catalog=dfsklarcce_CCR_raf;Persist Security Info=True;User ID=dfsklar_CCR;Password=ccezer0" providerName="System.Data.SqlClient"/>
    <!-- This local server is sql server 2008 so this ends up failing to be able to do inserts with NULL autocomputed IDs -->
    <add name="afwac_sv6ConnectionString__LOCAL" connectionString="Data Source=DFSMBPRO\SQLEXPRESS;User ID=dfsklar_CCR;Password=;Initial Catalog=macbookpro_ccr_raf_08sep2011;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="afwac_sv6ConnectionString" connectionString="MultipleActiveResultSets=True;Data Source=etcbpsql137.naccrd.com;User ID=_dfsklar;Password=dfsklar;Initial Catalog=dfsklarcce_ccr_raf;Persist Security Info=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    <anonymousAuthentication enabled="true" userName="" defaultLogonDomain="" /> 
-->
  <!--
<authorization>
  <allow users="*"/>
</authorization>
-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime executionTimeout="5000" maxRequestLength="999999"/>
    <sessionState mode="InProc"/>
    <customErrors mode="Off"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
     -->
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000"/>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true"/>
    <!--
    <handlers accessPolicy="Read, Execute, Script">
      <remove name="ASP NET"/>
      <add name="ASP NET" path="*.aspx" verb="*" type="System.Web.UI.Page, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
    </handlers> -->
  </system.webServer>
</configuration>
