<?xml version="1.0"?>
<configuration>

  

  <appSettings>
    <add key="DBconnstr" value="Dsn=RISEauthframework;UID=afwac;PWD=ccezer0"/>
    <add key="BOOLautoLoginDevel" value="0" />
    <add key="IDsubprocessVisibleToALL" value="6"/>
    <add key="IDsubprocessTrashcan" value="11" />
  </appSettings>


  <connectionStrings>
    <add name="afwac_sv6ConnectionString" 
connectionString="Data Source=localhost;Initial Catalog=afwac_sv6;Persist Security Info=True;User ID=afwac;Password=ccezer0"
     providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <pages validateRequest="false"/>
    <sessionState mode="InProc"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
